/* You can add global styles to this file, and also import other style files */
.noticia{
    background-color: rgb(243, 207, 166);
    border: 1px solid black;
    margin: 10px;
  
}

.noticia img{
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
  }